# Server configuration
PORT=3001

# osu! api configuration
OSU_API_BASE_URL=https://osu.ppy.sh/api/v2
OSU_OAUTH_TOKEN_URL=https://osu.ppy.sh/oauth/token
OSU_CLIENT_ID=<your_osu_oauth_app_client_id>
OSU_CLIENT_SECRET=<your_osu_oauth_app_client_secret>
