openapi: 3.0.3
info:
  title: osu!web
  description: ""
  version: 1.0.0
servers:
  - url: "https://osu.ppy.sh"
tags:
  - name: Account
    description: ""
  - name: "Beatmap Packs"
    description: ""
  - name: Beatmaps
    description: ""
  - name: "Beatmapset Discussions"
    description: ""
  - name: Beatmapsets
    description: ""
  - name: Changelog
    description: ""
  - name: Chat
    description: ""
  - name: Comments
    description: ""
  - name: Events
    description: ""
  - name: Forum
    description: ""
  - name: Home
    description: ""
  - name: Matches
    description: ""
  - name: Multiplayer
    description: ""
  - name: News
    description: ""
  - name: Notification
    description: ""
  - name: "OAuth Tokens"
    description: ""
  - name: Ranking
    description: ""
  - name: Scores
    description: ""
  - name: Undocumented
    description: ""
  - name: Users
    description: ""
  - name: Wiki
    description: ""
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: null
security:
  - default: []
paths:
  /api/v2/me/beatmapset-favourites:
    get:
      summary: ""
      operationId: getApiV2MeBeatmapsetFavourites
      description: ""
      parameters: []
      responses: {}
      tags:
        - Account
      security: []
  /api/v2/beatmaps/packs:
    get:
      summary: "Get Beatmap Packs"
      operationId: getBeatmapPacks
      description: "Returns a list of beatmap packs.\n\n---\n\n### Response format\n\nField         | Type\n------------- | -----------------------------\nbeatmap_packs | [BeatmapPack](#beatmappack)[]"
      parameters:
        - in: query
          name: type
          description: "[BeatmapPackType](#beatmappacktype) of the beatmap packs to be returned. Defaults to `standard`."
          example: praesentium
          required: false
          schema:
            type: string
            description: "[BeatmapPackType](#beatmappacktype) of the beatmap packs to be returned. Defaults to `standard`."
            example: praesentium
            nullable: false
        - in: query
          name: cursor_string
          description: "[CursorString](#cursorstring) for pagination."
          example: null
          required: false
          schema:
            type: string
            description: "[CursorString](#cursorstring) for pagination."
            example: null
            nullable: false
      responses: {}
      tags:
        - "Beatmap Packs"
      security: []
  "/api/v2/beatmaps/packs/{pack}":
    get:
      summary: "Get Beatmap Pack"
      operationId: getBeatmapPack
      description: "Gets the beatmap pack for the specified beatmap pack tag.\n\n---\n\n### Response format\n\nReturns [BeatmapPack](#beatmappack) object.\nThe following attributes are always included as well:\n\nAttribute            |\n-------------------- |\nbeatmapsets          |\nuser_completion_data |"
      parameters:
        - in: query
          name: legacy_only
          description: "Whether or not to consider lazer scores for user completion data. Defaults to 0."
          example: 0
          required: false
          schema:
            type: integer
            description: "Whether or not to consider lazer scores for user completion data. Defaults to 0."
            example: 0
            nullable: false
      responses: {}
      tags:
        - "Beatmap Packs"
      security: []
    parameters:
      - in: path
        name: pack
        description: "The tag of the beatmap pack to be returned."
        example: vero
        required: true
        schema:
          type: string
  /api/v2/beatmaps/lookup:
    get:
      summary: "Lookup Beatmap"
      operationId: lookupBeatmap
      description: "Returns beatmap.\n\n---\n\n### Response format\n\nSee [Get Beatmap](#get-beatmap)"
      parameters:
        - in: query
          name: checksum
          description: "A beatmap checksum."
          example: exercitationem
          required: false
          schema:
            type: string
            description: "A beatmap checksum."
            example: exercitationem
            nullable: false
        - in: query
          name: filename
          description: "A filename to lookup."
          example: sed
          required: false
          schema:
            type: string
            description: "A filename to lookup."
            example: sed
            nullable: false
        - in: query
          name: id
          description: "A beatmap ID to lookup."
          example: non
          required: false
          schema:
            type: string
            description: "A beatmap ID to lookup."
            example: non
            nullable: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: string
                example: "See Beatmap object section"
      tags:
        - Beatmaps
      security: []
  "/api/v2/beatmaps/{beatmap}/scores/users/{user}":
    get:
      summary: "Get a User Beatmap score"
      operationId: getAUserBeatmapScore
      description: "Return a [User](#user)'s score on a Beatmap\n\n---\n\n### Response Format\n\nReturns [BeatmapUserScore](#beatmapuserscore)\n\nThe position returned depends on the requested mode and mods."
      parameters:
        - in: query
          name: legacy_only
          description: "Whether or not to exclude lazer scores. Defaults to 0."
          example: 0
          required: false
          schema:
            type: integer
            description: "Whether or not to exclude lazer scores. Defaults to 0."
            example: 0
            nullable: false
        - in: query
          name: mode
          description: "The [Ruleset](#ruleset) to get scores for."
          example: totam
          required: false
          schema:
            type: string
            description: "The [Ruleset](#ruleset) to get scores for."
            example: totam
            nullable: false
        - in: query
          name: mods
          description: "An array of matching Mods, or none // TODO."
          example: consequuntur
          required: false
          schema:
            type: string
            description: "An array of matching Mods, or none // TODO."
            example: consequuntur
            nullable: false
      responses: {}
      tags:
        - Beatmaps
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "Id of the [Beatmap](#beatmap)."
        example: 18
        required: true
        schema:
          type: integer
      - in: path
        name: user
        description: "Id of the [User](#user)."
        example: 10
        required: true
        schema:
          type: integer
  "/api/v2/beatmaps/{beatmap}/scores/users/{user}/all":
    get:
      summary: "Get a User Beatmap scores"
      operationId: getAUserBeatmapScores
      description: "Return a [User](#user)'s scores on a Beatmap\n\n---\n\n### Response Format\n\nField  | Type\n------ | ----\nscores | [Score](#score)[]"
      parameters:
        - in: query
          name: legacy_only
          description: "Whether or not to exclude lazer scores. Defaults to 0."
          example: 0
          required: false
          schema:
            type: integer
            description: "Whether or not to exclude lazer scores. Defaults to 0."
            example: 0
            nullable: false
        - in: query
          name: mode
          description: "(deprecated) The [Ruleset](#ruleset) to get scores for. Defaults to beatmap ruleset."
          example: null
          required: false
          schema:
            type: string
            description: "(deprecated) The [Ruleset](#ruleset) to get scores for. Defaults to beatmap ruleset."
            example: null
            nullable: false
        - in: query
          name: ruleset
          description: "The [Ruleset](#ruleset) to get scores for. Defaults to beatmap ruleset."
          example: osu
          required: false
          schema:
            type: string
            description: "The [Ruleset](#ruleset) to get scores for. Defaults to beatmap ruleset."
            example: osu
            nullable: false
      responses: {}
      tags:
        - Beatmaps
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "Id of the [Beatmap](#beatmap)."
        example: 10
        required: true
        schema:
          type: integer
      - in: path
        name: user
        description: "Id of the [User](#user)."
        example: 20
        required: true
        schema:
          type: integer
  "/api/v2/beatmaps/{beatmap}/scores":
    get:
      summary: "Get Beatmap scores"
      operationId: getBeatmapScores
      description: "Returns the top scores for a beatmap. Depending on user preferences, this may only show legacy scores.\n\n---\n\n### Response Format\n\nReturns [BeatmapScores](#beatmapscores). `Score` object inside includes `user` and the included `user` includes `country` and `cover`."
      parameters:
        - in: query
          name: legacy_only
          description: "Whether or not to exclude lazer scores. Defaults to 0."
          example: 0
          required: false
          schema:
            type: integer
            description: "Whether or not to exclude lazer scores. Defaults to 0."
            example: 0
            nullable: false
        - in: query
          name: mode
          description: "The [Ruleset](#ruleset) to get scores for."
          example: voluptate
          required: false
          schema:
            type: string
            description: "The [Ruleset](#ruleset) to get scores for."
            example: voluptate
            nullable: false
        - in: query
          name: mods
          description: "An array of matching Mods, or none // TODO."
          example: est
          required: false
          schema:
            type: string
            description: "An array of matching Mods, or none // TODO."
            example: est
            nullable: false
        - in: query
          name: type
          description: "Beatmap score ranking type // TODO."
          example: at
          required: false
          schema:
            type: string
            description: "Beatmap score ranking type // TODO."
            example: at
            nullable: false
      responses: {}
      tags:
        - Beatmaps
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "Id of the [Beatmap](#beatmap)."
        example: 12
        required: true
        schema:
          type: integer
  "/api/v2/beatmaps/{beatmap}/solo-scores":
    get:
      summary: "Get Beatmap scores (non-legacy)"
      operationId: getBeatmapScoresnonLegacy
      description: "Returns the top scores for a beatmap.\n\nThis endpoint is deprecated. Use [Get Beatmap scores](#get-beatmap-scores) with appropriate api version header instead.\n\n---\n\n### Response Format\n\nReturns [BeatmapScores](#beatmapscores). `Score` object inside includes `user` and the included `user` includes `country` and `cover`."
      parameters:
        - in: query
          name: mode
          description: "The [Ruleset](#ruleset) to get scores for."
          example: laborum
          required: false
          schema:
            type: string
            description: "The [Ruleset](#ruleset) to get scores for."
            example: laborum
            nullable: false
        - in: query
          name: mods
          description: "An array of matching Mods, or none // TODO."
          example: rerum
          required: false
          schema:
            type: string
            description: "An array of matching Mods, or none // TODO."
            example: rerum
            nullable: false
        - in: query
          name: type
          description: "Beatmap score ranking type // TODO."
          example: unde
          required: false
          schema:
            type: string
            description: "Beatmap score ranking type // TODO."
            example: unde
            nullable: false
      responses: {}
      tags:
        - Beatmaps
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "Id of the [Beatmap](#beatmap)."
        example: 16
        required: true
        schema:
          type: integer
  /api/v2/beatmaps:
    get:
      summary: "Get Beatmaps"
      operationId: getBeatmaps
      description: "Returns a list of beatmaps.\n\n---\n\n### Response format\n\nField    | Type                                  | Description\n-------- | ------------------------------------- | -----------\nbeatmaps | [BeatmapExtended](#beatmapextended)[] | Includes `beatmapset` (with `ratings`), `failtimes`, `max_combo`, and `owners`."
      parameters:
        - in: query
          name: "ids[]"
          description: "Beatmap IDs to be returned. Specify once for each beatmap ID requested. Up to 50 beatmaps can be requested at once."
          example: 1
          required: false
          schema:
            type: integer
            description: "Beatmap IDs to be returned. Specify once for each beatmap ID requested. Up to 50 beatmaps can be requested at once."
            example: 1
            nullable: false
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"beatmaps\": [\n    {\n      \"id\": 1,\n      // Other Beatmap attributes...\n    }\n  ]\n}"
      tags:
        - Beatmaps
      security: []
  "/api/v2/beatmaps/{beatmap}":
    get:
      summary: "Get Beatmap"
      operationId: getBeatmap
      description: "Gets beatmap data for the specified beatmap ID.\n\n---\n\n### Response format\n\nReturns [BeatmapExtended](#beatmapextended) object.\nFollowing attributes are included in the response object when applicable,\n\nAttribute  | Notes\n---------- | -----\nbeatmapset | Includes ratings property.\nfailtimes  | |\nmax_combo  | |"
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: string
                example: "See Beatmap object section."
      tags:
        - Beatmaps
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "The ID of the beatmap."
        example: 7
        required: true
        schema:
          type: integer
  "/api/v2/beatmaps/{beatmap}/attributes":
    post:
      summary: "Get Beatmap Attributes"
      operationId: getBeatmapAttributes
      description: "Returns difficulty attributes of beatmap with specific mode and mods combination.\n\n---\n\n### Response format\n\nField      | Type\n---------- | ----\nAttributes | [DifficultyAttributes](#beatmapdifficultyattributes)"
      parameters: []
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"attributes\": {\n      \"max_combo\": 100,\n      ...\n  }\n}"
      tags:
        - Beatmaps
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                mods:
                  type: array
                  description: "Mod combination. Can be either a bitset of mods, array of mod acronyms, or array of mods. Defaults to no mods."
                  example: 1
                  items:
                    type: "integer|string[]|Mod"
                ruleset:
                  type: Ruleset
                  description: "Ruleset of the difficulty attributes. Only valid if it's the beatmap ruleset or the beatmap can be converted to the specified ruleset. Defaults to ruleset of the specified beatmap."
                  example: osu
                  nullable: false
                ruleset_id:
                  type: integer
                  description: "The same as `ruleset` but in integer form."
                  example: null
                  nullable: false
      security: []
    parameters:
      - in: path
        name: beatmap
        description: "Beatmap id."
        example: 2
        required: true
        schema:
          type: integer
  /api/v2/beatmapsets/discussions/posts:
    get:
      summary: "Get Beatmapset Discussion Posts"
      operationId: getBeatmapsetDiscussionPosts
      description: "Returns the posts of beatmapset discussions.\n\n---\n\n### Response Format\n\n<aside class=\"warning\">\n  The response of this endpoint is likely to change soon!\n</aside>\n\nField         | Type                                                    | Description\n------------- | ------------------------------------------------------- | -----------\nbeatmapsets   | [Beatmapset](#beatmapset)                               | |\ncursor_string | [CursorString](#cursorstring)                           | |\nposts         | [BeatmapsetDiscussionPost](#beatmapsetdiscussionpost)[] | |\nusers         | [User](#user)                                           | |"
      parameters:
        - in: query
          name: beatmapset_discussion_id
          description: "`id` of the [BeatmapsetDiscussion](#beatmapsetdiscussion)."
          example: qui
          required: false
          schema:
            type: string
            description: "`id` of the [BeatmapsetDiscussion](#beatmapsetdiscussion)."
            example: qui
            nullable: false
        - in: query
          name: limit
          description: "Maximum number of results."
          example: 18
          required: false
          schema:
            type: integer
            description: "Maximum number of results."
            example: 18
            nullable: false
        - in: query
          name: page
          description: "Search result page."
          example: 2
          required: false
          schema:
            type: integer
            description: "Search result page."
            example: 2
            nullable: false
        - in: query
          name: sort
          description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
          example: non
          required: false
          schema:
            type: string
            description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
            example: non
            nullable: false
        - in: query
          name: "types[]"
          description: "`first`, `reply`, `system` are the valid values. Defaults to `reply`."
          example: quis
          required: false
          schema:
            type: string
            description: "`first`, `reply`, `system` are the valid values. Defaults to `reply`."
            example: quis
            nullable: false
        - in: query
          name: user
          description: "The `id` of the [User](#user)."
          example: consequatur
          required: false
          schema:
            type: string
            description: "The `id` of the [User](#user)."
            example: consequatur
            nullable: false
        - in: query
          name: with_deleted
          description: "This param has no effect as api calls do not currently receive group permissions."
          example: sunt
          required: false
          schema:
            type: string
            description: "This param has no effect as api calls do not currently receive group permissions."
            example: sunt
            nullable: false
      responses: {}
      tags:
        - "Beatmapset Discussions"
      security: []
  /api/v2/beatmapsets/discussions/votes:
    get:
      summary: "Get Beatmapset Discussion Votes"
      operationId: getBeatmapsetDiscussionVotes
      description: "Returns the votes given to beatmapset discussions.\n\n---\n\n### Response Format\n\n<aside class=\"warning\">\n  The response of this endpoint is likely to change soon!\n</aside>\n\nField         | Type                                                    | Description\n------------- | ------------------------------------------------------- | -----------\ncursor_string | [CursorString](#cursorstring)                           | |\ndiscussions   | [BeatmapsetDiscussion](#beatmapsetdiscussion)           | |\nusers         | [User](#user)                                           | |\nvotes         | [BeatmapsetDiscussionVote](#beatmapsetdiscussionvote)[] | |"
      parameters:
        - in: query
          name: beatmapset_discussion_id
          description: "`id` of the [BeatmapsetDiscussion](#beatmapsetdiscussion)."
          example: sed
          required: false
          schema:
            type: string
            description: "`id` of the [BeatmapsetDiscussion](#beatmapsetdiscussion)."
            example: sed
            nullable: false
        - in: query
          name: limit
          description: "Maximum number of results."
          example: 8
          required: false
          schema:
            type: integer
            description: "Maximum number of results."
            example: 8
            nullable: false
        - in: query
          name: page
          description: "Search result page."
          example: 12
          required: false
          schema:
            type: integer
            description: "Search result page."
            example: 12
            nullable: false
        - in: query
          name: receiver
          description: "The `id` of the [User](#user) receiving the votes."
          example: non
          required: false
          schema:
            type: string
            description: "The `id` of the [User](#user) receiving the votes."
            example: non
            nullable: false
        - in: query
          name: score
          description: "`1` for up vote, `-1` for down vote."
          example: reiciendis
          required: false
          schema:
            type: string
            description: "`1` for up vote, `-1` for down vote."
            example: reiciendis
            nullable: false
        - in: query
          name: sort
          description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
          example: et
          required: false
          schema:
            type: string
            description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
            example: et
            nullable: false
        - in: query
          name: user
          description: "The `id` of the [User](#user) giving the votes."
          example: quia
          required: false
          schema:
            type: string
            description: "The `id` of the [User](#user) giving the votes."
            example: quia
            nullable: false
        - in: query
          name: with_deleted
          description: "This param has no effect as api calls do not currently receive group permissions."
          example: dolorem
          required: false
          schema:
            type: string
            description: "This param has no effect as api calls do not currently receive group permissions."
            example: dolorem
            nullable: false
      responses: {}
      tags:
        - "Beatmapset Discussions"
      security: []
  /api/v2/beatmapsets/discussions:
    get:
      summary: "Get Beatmapset Discussions"
      operationId: getBeatmapsetDiscussions
      description: "Returns a list of beatmapset discussions.\n\n---\n\n### Response Format\n\n<aside class=\"warning\">\n  The response of this endpoint is likely to change soon!\n</aside>\n\nField                     | Type                                            | Description\n------------------------- | ----------------------------------------------- | -----------\nbeatmaps                  | [BeatmapExtended](#beatmapextended)[]           | List of beatmaps associated with the discussions returned.\ncursor_string             | [CursorString](#cursorstring)                   | |\ndiscussions               | [BeatmapsetDiscussion](#beatmapsetdiscussion)[] | List of discussions according to `sort` order.\nincluded_discussions      | [BeatmapsetDiscussion](#beatmapsetdiscussion)[] | Additional discussions related to `discussions`.\nreviews_config.max_blocks | integer                                         | Maximum number of blocks allowed in a review.\nusers                     | [User](#user)[]                                 | List of users associated with the discussions returned."
      parameters:
        - in: query
          name: beatmap_id
          description: "`id` of the [Beatmap](#beatmap)."
          example: sed
          required: false
          schema:
            type: string
            description: "`id` of the [Beatmap](#beatmap)."
            example: sed
            nullable: false
        - in: query
          name: beatmapset_id
          description: "`id` of the [Beatmapset](#beatmapset)."
          example: molestiae
          required: false
          schema:
            type: string
            description: "`id` of the [Beatmapset](#beatmapset)."
            example: molestiae
            nullable: false
        - in: query
          name: beatmapset_status
          description: "One of `all`, `ranked`, `qualified`, `disqualified`, `never_qualified`. Defaults to `all`. TODO: better descriptions."
          example: aut
          required: false
          schema:
            type: string
            description: "One of `all`, `ranked`, `qualified`, `disqualified`, `never_qualified`. Defaults to `all`. TODO: better descriptions."
            example: aut
            nullable: false
        - in: query
          name: limit
          description: "Maximum number of results."
          example: 10
          required: false
          schema:
            type: integer
            description: "Maximum number of results."
            example: 10
            nullable: false
        - in: query
          name: "message_types[]"
          description: "`suggestion`, `problem`, `mapper_note`, `praise`, `hype`, `review`. Blank defaults to all types. TODO: better descriptions."
          example: error
          required: false
          schema:
            type: string
            description: "`suggestion`, `problem`, `mapper_note`, `praise`, `hype`, `review`. Blank defaults to all types. TODO: better descriptions."
            example: error
            nullable: false
        - in: query
          name: only_unresolved
          description: "`true` to show only unresolved issues; `false`, otherwise. Defaults to `false`."
          example: cumque
          required: false
          schema:
            type: string
            description: "`true` to show only unresolved issues; `false`, otherwise. Defaults to `false`."
            example: cumque
            nullable: false
        - in: query
          name: page
          description: "Search result page."
          example: 6
          required: false
          schema:
            type: integer
            description: "Search result page."
            example: 6
            nullable: false
        - in: query
          name: sort
          description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
          example: aut
          required: false
          schema:
            type: string
            description: "`id_desc` for newest first; `id_asc` for oldest first. Defaults to `id_desc`."
            example: aut
            nullable: false
        - in: query
          name: user
          description: "The `id` of the [User](#user)."
          example: possimus
          required: false
          schema:
            type: string
            description: "The `id` of the [User](#user)."
            example: possimus
            nullable: false
        - in: query
          name: with_deleted
          description: "This param has no effect as api calls do not currently receive group permissions."
          example: sed
          required: false
          schema:
            type: string
            description: "This param has no effect as api calls do not currently receive group permissions."
            example: sed
            nullable: false
        - in: query
          name: cursor_string
          description: "[CursorString](#cursorstring) for pagination."
          example: null
          required: false
          schema:
            type: string
            description: "[CursorString](#cursorstring) for pagination."
            example: null
            nullable: false
      responses: {}
      tags:
        - "Beatmapset Discussions"
      security: []
  /api/v2/beatmapsets/search:
    get:
      summary: "Search Beatmapset"
      operationId: searchBeatmapset
      description: "TODO: documentation"
      parameters:
        - in: query
          name: cursor_string
          description: "[CursorString](#cursorstring) for pagination."
          example: null
          required: false
          schema:
            type: string
            description: "[CursorString](#cursorstring) for pagination."
            example: null
            nullable: false
      responses: {}
      tags:
        - Beatmapsets
      security: []
  /api/v2/beatmapsets/lookup:
    get:
      summary: ""
      operationId: getApiV2BeatmapsetsLookup
      description: ""
      parameters: []
      responses: {}
      tags:
        - Beatmapsets
      security: []
  "/api/v2/beatmapsets/{beatmapset}":
    get:
      summary: ""
      operationId: getApiV2BeatmapsetsBeatmapset
      description: ""
      parameters: []
      responses: {}
      tags:
        - Beatmapsets
      security: []
    parameters:
      - in: path
        name: beatmapset
        description: "The beatmapset."
        example: quo
        required: true
        schema:
          type: string
  "/api/v2/beatmapsets/{beatmapset}/download":
    get:
      summary: ""
      operationId: getApiV2BeatmapsetsBeatmapsetDownload
      description: ""
      parameters: []
      responses: {}
      tags:
        - Beatmapsets
      security: []
    parameters:
      - in: path
        name: beatmapset
        description: "The beatmapset."
        example: repellendus
        required: true
        schema:
          type: string
  "/api/v2/changelog/{stream}/{build}":
    get:
      summary: "Get Changelog Build"
      operationId: getChangelogBuild
      description: "Returns details of the specified build.\n\n---\n\n### Response Format\n\nA [Build](#build) with `changelog_entries`, `changelog_entries.github_user`, and `versions` included."
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 5778
                  version: "20210520.2"
                  display_version: "20210520.2"
                  users: 22093
                  created_at: "2021-05-20T14:28:04+00:00"
                  update_stream:
                    id: 5
                    name: stable40
                    display_name: Stable
                    is_featured: true
                  changelog_entries:
                    - id: null
                      repository: null
                      github_pull_request_id: null
                      github_url: null
                      url: "https://osu.ppy.sh/home/news/2021-05-20-spring-fanart-contest-results"
                      type: fix
                      category: Misc
                      title: "Spring is here!"
                      message_html: "<div class='changelog-md'><p class=\"changelog-md__paragraph\">New seasonal backgrounds ahoy! Amazing work by the artists.</p>\n</div>"
                      major: true
                      created_at: "2021-05-20T10:56:49+00:00"
                      github_user:
                        display_name: peppy
                        github_url: null
                        github_username: null
                        id: null
                        osu_username: peppy
                        user_id: 2
                        user_url: "https://osu.ppy.sh/users/2"
                  versions:
                    previous:
                      id: 5774
                      version: "20210519.3"
                      display_version: "20210519.3"
                      users: 10
                      created_at: "2021-05-19T11:51:48+00:00"
                      update_stream:
                        id: 5
                        name: stable40
                        display_name: Stable
                        is_featured: true
                properties:
                  id:
                    type: integer
                    example: 5778
                  version:
                    type: string
                    example: "20210520.2"
                  display_version:
                    type: string
                    example: "20210520.2"
                  users:
                    type: integer
                    example: 22093
                  created_at:
                    type: string
                    example: "2021-05-20T14:28:04+00:00"
                  update_stream:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      name:
                        type: string
                        example: stable40
                      display_name:
                        type: string
                        example: Stable
                      is_featured:
                        type: boolean
                        example: true
                  changelog_entries:
                    type: array
                    example:
                      - id: null
                        repository: null
                        github_pull_request_id: null
                        github_url: null
                        url: "https://osu.ppy.sh/home/news/2021-05-20-spring-fanart-contest-results"
                        type: fix
                        category: Misc
                        title: "Spring is here!"
                        message_html: "<div class='changelog-md'><p class=\"changelog-md__paragraph\">New seasonal backgrounds ahoy! Amazing work by the artists.</p>\n</div>"
                        major: true
                        created_at: "2021-05-20T10:56:49+00:00"
                        github_user:
                          display_name: peppy
                          github_url: null
                          github_username: null
                          id: null
                          osu_username: peppy
                          user_id: 2
                          user_url: "https://osu.ppy.sh/users/2"
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        repository:
                          type: string
                          example: null
                        github_pull_request_id:
                          type: string
                          example: null
                        github_url:
                          type: string
                          example: null
                        url:
                          type: string
                          example: "https://osu.ppy.sh/home/news/2021-05-20-spring-fanart-contest-results"
                        type:
                          type: string
                          example: fix
                        category:
                          type: string
                          example: Misc
                        title:
                          type: string
                          example: "Spring is here!"
                        message_html:
                          type: string
                          example: "<div class='changelog-md'><p class=\"changelog-md__paragraph\">New seasonal backgrounds ahoy! Amazing work by the artists.</p>\n</div>"
                        major:
                          type: boolean
                          example: true
                        created_at:
                          type: string
                          example: "2021-05-20T10:56:49+00:00"
                        github_user:
                          type: object
                          properties:
                            display_name:
                              type: string
                              example: peppy
                            github_url:
                              type: string
                              example: null
                            github_username:
                              type: string
                              example: null
                            id:
                              type: string
                              example: null
                            osu_username:
                              type: string
                              example: peppy
                            user_id:
                              type: integer
                              example: 2
                            user_url:
                              type: string
                              example: "https://osu.ppy.sh/users/2"
                  versions:
                    type: object
                    properties:
                      previous:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5774
                          version:
                            type: string
                            example: "20210519.3"
                          display_version:
                            type: string
                            example: "20210519.3"
                          users:
                            type: integer
                            example: 10
                          created_at:
                            type: string
                            example: "2021-05-19T11:51:48+00:00"
                          update_stream:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 5
                              name:
                                type: string
                                example: stable40
                              display_name:
                                type: string
                                example: Stable
                              is_featured:
                                type: boolean
                                example: true
      tags:
        - Changelog
      security: []
    parameters:
      - in: path
        name: stream
        description: "Update stream name."
        example: stable40
        required: true
        schema:
          type: string
      - in: path
        name: build
        description: "Build version."
        example: "20210520.2"
        required: true
        schema:
          type: string
  /api/v2/changelog:
    get:
      summary: "Get Changelog Listing"
      operationId: getChangelogListing
      description: "Returns a listing of update streams, builds, and changelog entries.\n\n---\n\n### Response Format\n\nField         | Type                            | Notes\n--------------|---------------------------------|------\nbuilds        | [Build](#build)[]               | Includes `changelog_entries`, `changelog_entries.github_user`, and changelog entry message in requested formats.\nsearch.from   | string?                         | `from` input.\nsearch.limit  | integer                         | Always `21`.\nsearch.max_id | integer?                        | `max_id` input.\nsearch.stream | string?                         | `stream` input.\nsearch.to     | string?                         | `to` input.\nstreams       | [UpdateStream](#updatestream)[] | Always contains all available streams. Includes `latest_build` and `user_count`."
      parameters:
        - in: query
          name: from
          description: "Minimum build version."
          example: null
          required: false
          schema:
            type: string
            description: "Minimum build version."
            example: null
            nullable: false
        - in: query
          name: max_id
          description: "Maximum build ID."
          example: null
          required: false
          schema:
            type: integer
            description: "Maximum build ID."
            example: null
            nullable: false
        - in: query
          name: stream
          description: "Stream name to return builds from."
          example: null
          required: false
          schema:
            type: string
            description: "Stream name to return builds from."
            example: null
            nullable: false
        - in: query
          name: to
          description: "Maximum build version."
          example: null
          required: false
          schema:
            type: string
            description: "Maximum build version."
            example: null
            nullable: false
        - in: query
          name: "message_formats[]"
          description: "`html`, `markdown`. Default to both."
          example: excepturi
          required: false
          schema:
            type: string
            description: "`html`, `markdown`. Default to both."
            example: excepturi
            nullable: false
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"streams\": [\n    {\n      \"id\": 5,\n      \"name\": \"stable40\",\n      \"display_name\": \"Stable\",\n      \"is_featured\": true,\n      \"latest_build\": {\n        \"id\": 5778,\n        \"version\": \"20210520.2\",\n        \"display_version\": \"20210520.2\",\n        \"users\": 23683,\n        \"created_at\": \"2021-05-20T14:28:04+00:00\",\n        \"update_stream\": {\n          \"id\": 5,\n          \"name\": \"stable40\",\n          \"display_name\": \"Stable\",\n          \"is_featured\": true\n        }\n      },\n      \"user_count\": 23965\n    },\n    // ...\n  ],\n  \"builds\": [\n    {\n      \"id\": 5823,\n      \"version\": \"2021.619.1\",\n      \"display_version\": \"2021.619.1\",\n      \"users\": 0,\n      \"created_at\": \"2021-06-19T08:30:45+00:00\",\n      \"update_stream\": {\n        \"id\": 7,\n        \"name\": \"lazer\",\n        \"display_name\": \"Lazer\",\n        \"is_featured\": false\n      },\n      \"changelog_entries\": [\n        {\n          \"id\": 12925,\n          \"repository\": \"ppy/osu\",\n          \"github_pull_request_id\": 13572,\n          \"github_url\": \"https://github.com/ppy/osu/pull/13572\",\n          \"url\": null,\n          \"type\": \"fix\",\n          \"category\": \"Reliability\",\n          \"title\": \"Fix game crashes due to attempting localisation load for unsupported locales\",\n          \"message_html\": null,\n          \"major\": true,\n          \"created_at\": \"2021-06-19T08:09:39+00:00\",\n          \"github_user\": {\n            \"display_name\": \"bdach\",\n            \"github_url\": \"https://github.com/bdach\",\n            \"github_username\": \"bdach\",\n            \"id\": 218,\n            \"osu_username\": null,\n            \"user_id\": null,\n            \"user_url\": null\n          }\n        }\n      ]\n    },\n    // ...\n  ],\n  \"search\": {\n    \"stream\": null,\n    \"from\": null,\n    \"to\": null,\n    \"max_id\": null,\n    \"limit\": 21\n  }\n}"
      tags:
        - Changelog
      security: []
  "/api/v2/changelog/{changelog}":
    get:
      summary: "Lookup Changelog Build"
      operationId: lookupChangelogBuild
      description: "Returns details of the specified build.\n\n---\n\n### Response Format\n\nSee [Get Changelog Build](#get-changelog-build)."
      parameters:
        - in: query
          name: key
          description: "Unset to query by build version or stream name, or `id` to query by build ID."
          example: null
          required: false
          schema:
            type: string
            description: "Unset to query by build version or stream name, or `id` to query by build ID."
            example: null
            nullable: false
        - in: query
          name: "message_formats[]"
          description: "`html`, `markdown`. Default to both."
          example: fugiat
          required: false
          schema:
            type: string
            description: "`html`, `markdown`. Default to both."
            example: fugiat
            nullable: false
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: 'See "Get Changelog Build" response.'
      tags:
        - Changelog
      security: []
    parameters:
      - in: path
        name: changelog
        description: "Build version, update stream name, or build ID."
        example: "20210520.2"
        required: true
        schema:
          type: string
  /api/v2/chat/ack:
    post:
      summary: "Chat Keepalive"
      operationId: chatKeepalive
      description: "Request periodically to reset chat activity timeout. Also returns an updated list of recent silences.\n\nSee [Public channels and activity timeout](#public-channels-and-activity-timeout)\n\n---\n\n### Response Format\n\nField            | Type\n---------------- | -----------------\nsilences         | [UserSilence](#usersilence)[]"
      parameters:
        - in: query
          name: history_since
          description: "[UserSilence](#usersilence)s after the specified id to return.\nThis field is preferred and takes precedence over `since`."
          example: 9
          required: false
          schema:
            type: integer
            description: "[UserSilence](#usersilence)s after the specified id to return.\nThis field is preferred and takes precedence over `since`."
            example: 9
            nullable: false
        - in: query
          name: since
          description: "[UserSilence](#usersilence)s after the specified [ChatMessage.message_id](#chatmessage) to return."
          example: null
          required: false
          schema:
            type: integer
            description: "[UserSilence](#usersilence)s after the specified [ChatMessage.message_id](#chatmessage) to return."
            example: null
            nullable: false
      responses: {}
      tags:
        - Chat
      security: []
  /api/v2/chat/new:
    post:
      summary: "Create New PM"
      operationId: createNewPM
      description: "This endpoint allows you to create a new PM channel.\n\n---\n\n### Response Format\n\nField            | Type\n---------------- | -----------------\nchannel          | The new [ChatChannel](#chatchannel)\nmessage          | the sent [ChatMessage](#chatmessage)\nnew_channel_id   | Deprecated; `channel_id` of newly created [ChatChannel](#chatchannel)\n\n<aside class=\"notice\">\n  This endpoint will only allow the creation of PMs initially, group chat support will come later.\n</aside>"
      parameters: []
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"channel\": {\n    \"channel_id\": 1234,\n    \"description\": \"\",\n    \"icon\": \"https://a.ppy.sh/102?1500537068\"\n    \"message_length_limit\": 450,\n    \"moderated\": false,\n    \"name\": \"peppy\",\n    \"type\": \"PM\",\n    \"uuid\": null,\n    \"last_message_id\": 9150005005,\n    \"users\": [\n      101,\n      102\n    ]\n  },\n  \"message\": {\n    \"channel_id\": 1234,\n    \"content\": \"i can haz featured artist plz?\",\n    \"is_action\": false,\n    \"message_id\": 9150005005,\n    \"sender_id\": 102,\n    \"timestamp\": \"2024-12-23T01:23:45+00:00\",\n    \"type\": \"plain\",\n    \"uuid\": \"some-uuid-string\",\n    \"sender\": {\n      \"avatar_url\": \"https://a.ppy.sh/102?1500537068\",\n      \"country_code\": \"AU\",\n      \"default_group\": \"default\",\n      \"id\": 102,\n      \"is_active\": true,\n      \"is_bot\": false,\n      \"is_deleted\": false,\n      \"is_online\": true,\n      \"is_supporter\": true\n      \"last_visit\": \"2024-12-23T01:23:45+00:00\",\n      \"pm_friends_only\": false,\n      \"profile_colour\": \"#333333\",\n      \"username\": \"nekodex\",\n    }\n  },\n  \"new_channel_id\": 1234,\n}"
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_id:
                  type: integer
                  description: "`user_id` of user to start PM with"
                  example: 16
                  nullable: false
                message:
                  type: string
                  description: "message to send"
                  example: et
                  nullable: false
                is_action:
                  type: boolean
                  description: "whether the message is an action"
                  example: true
                  nullable: false
                uuid:
                  type: string
                  description: "client-side message identifier which will be sent back in response and websocket json."
                  example: some-uuid-string
                  nullable: false
              required:
                - target_id
                - message
                - is_action
      security: []
  /api/v2/chat/updates:
    get:
      summary: "Get Updates"
      operationId: getUpdates
      description: "Returns the list of channels the current User is in along with an updated list of [UserSilence](#usersilence)s.\n\n---\n\n### Response Format\n\nField            | Type\n---------------- | -----------------\nmessages         | This field is not used and will be removed.\npresence         | [ChatChannel](#chatchannel)[]?\nsilences         | [UserSilence](#usersilence)[]?"
      parameters:
        - in: query
          name: history_since
          description: "[UserSilence](#usersilence)s after the specified id to return.\nThis field is preferred and takes precedence over `since`."
          example: 4
          required: false
          schema:
            type: integer
            description: "[UserSilence](#usersilence)s after the specified id to return.\nThis field is preferred and takes precedence over `since`."
            example: 4
            nullable: false
        - in: query
          name: includes
          description: "List of fields from `presence`, `silences` to include in the response. Returns all if not specified."
          example: null
          required: false
          schema:
            type: array
            description: "List of fields from `presence`, `silences` to include in the response. Returns all if not specified."
            example: null
            items:
              type: string
        - in: query
          name: since
          description: "[UserSilence](#usersilence)s after the specified [ChatMessage.message_id](#chatmessage) to return."
          example: null
          required: false
          schema:
            type: integer
            description: "[UserSilence](#usersilence)s after the specified [ChatMessage.message_id](#chatmessage) to return."
            example: null
            nullable: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  presence:
                    - channel_id: 5
                      current_user_attributes:
                        can_message: true
                        can_message_error: null
                        last_read_id: 9150005005
                      name: "#osu"
                      description: "The official osu! channel (english only)."
                      type: public
                      last_read_id: 9150005005
                      last_message_id: 9150005005
                    - channel_id: 12345
                      current_user_attributes:
                        can_message: true
                        can_message_error: null
                        last_read_id: 9150001235
                      type: PM
                      name: peppy
                      icon: "https://a.ppy.sh/2?1519081077.png"
                      users:
                        - 2
                        - 102
                      last_read_id: 9150001235
                      last_message_id: 9150001234
                  silences:
                    - id: 1
                      user_id: 2
                properties:
                  presence:
                    type: array
                    example:
                      - channel_id: 5
                        current_user_attributes:
                          can_message: true
                          can_message_error: null
                          last_read_id: 9150005005
                        name: "#osu"
                        description: "The official osu! channel (english only)."
                        type: public
                        last_read_id: 9150005005
                        last_message_id: 9150005005
                      - channel_id: 12345
                        current_user_attributes:
                          can_message: true
                          can_message_error: null
                          last_read_id: 9150001235
                        type: PM
                        name: peppy
                        icon: "https://a.ppy.sh/2?1519081077.png"
                        users:
                          - 2
                          - 102
                        last_read_id: 9150001235
                        last_message_id: 9150001234
                    items:
                      type: object
                      properties:
                        channel_id:
                          type: integer
                          example: 5
                        current_user_attributes:
                          type: object
                          properties:
                            can_message:
                              type: boolean
                              example: true
                            can_message_error:
                              type: string
                              example: null
                            last_read_id:
                              type: integer
                              example: 9150005005
                        name:
                          type: string
                          example: "#osu"
                        description:
                          type: string
                          example: "The official osu! channel (english only)."
                        type:
                          type: string
                          example: public
                        last_read_id:
                          type: integer
                          example: 9150005005
                        last_message_id:
                          type: integer
                          example: 9150005005
                  silences:
                    type: array
                    example:
                      - id: 1
                        user_id: 2
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        user_id:
                          type: integer
                          example: 2
      tags:
        - Chat
      security: []
  "/api/v2/chat/channels/{channel}/messages":
    get:
      summary: "Get Channel Messages"
      operationId: getChannelMessages
      description: "This endpoint returns the chat messages for a specific channel.\n\n---\n\n### Response Format\n\nReturns an array of [ChatMessage](#chatmessage)"
      parameters:
        - in: query
          name: limit
          description: "number of messages to return (max of 50)"
          example: 20
          required: false
          schema:
            type: integer
            description: "number of messages to return (max of 50)"
            example: 20
            nullable: false
        - in: query
          name: since
          description: "messages after the specified message id will be returned"
          example: 13
          required: false
          schema:
            type: integer
            description: "messages after the specified message id will be returned"
            example: 13
            nullable: false
        - in: query
          name: until
          description: "messages up to but not including the specified message id will be returned"
          example: 18
          required: false
          schema:
            type: integer
            description: "messages up to but not including the specified message id will be returned"
            example: 18
            nullable: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  - message_id: 9150005004
                    sender_id: 2
                    channel_id: 5
                    timestamp: "2018-07-06T06:33:34+00:00"
                    content: "i am a lazerface"
                    is_action: 0
                    sender:
                      id: 2
                      username: peppy
                      profile_colour: "#3366FF"
                      avatar_url: "https://a.ppy.sh/2?1519081077.png"
                      country_code: AU
                      is_active: true
                      is_bot: false
                      is_online: true
                      is_supporter: true
                  - message_id: 9150005005
                    sender_id: 102
                    channel_id: 5
                    timestamp: "2018-07-06T06:33:42+00:00"
                    content: "uh ok then"
                    is_action: 0
                    sender:
                      id: 102
                      username: nekodex
                      profile_colour: "#333333"
                      avatar_url: "https://a.ppy.sh/102?1500537068"
                      country_code: AU
                      is_active: true
                      is_bot: false
                      is_online: true
                      is_supporter: true
      tags:
        - Chat
      security: []
    post:
      summary: "Send Message to Channel"
      operationId: sendMessageToChannel
      description: "This endpoint returns the chat messages for a specific channel.\n\n---\n\n### Response Format\n\nThe sent [ChatMessage](#chatmessage)\n\n<aside class=\"notice\">\n  When sending a message, the <code>last_read_id</code> for the <a href='#chatchannel'>ChatChannel</a> is also updated to mark the new message as read.\n</aside>"
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message_id: 9150005004
                  sender_id: 2
                  channel_id: 5
                  timestamp: "2018-07-06T06:33:34+00:00"
                  content: "i am a lazerface"
                  is_action: 0
                  sender:
                    id: 2
                    username: peppy
                    profile_colour: "#3366FF"
                    avatar_url: "https://a.ppy.sh/2?1519081077.png"
                    country_code: AU
                    is_active: true
                    is_bot: false
                    is_online: true
                    is_supporter: true
                properties:
                  message_id:
                    type: integer
                    example: 9150005004
                  sender_id:
                    type: integer
                    example: 2
                  channel_id:
                    type: integer
                    example: 5
                  timestamp:
                    type: string
                    example: "2018-07-06T06:33:34+00:00"
                  content:
                    type: string
                    example: "i am a lazerface"
                  is_action:
                    type: integer
                    example: 0
                  sender:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      username:
                        type: string
                        example: peppy
                      profile_colour:
                        type: string
                        example: "#3366FF"
                      avatar_url:
                        type: string
                        example: "https://a.ppy.sh/2?1519081077.png"
                      country_code:
                        type: string
                        example: AU
                      is_active:
                        type: boolean
                        example: true
                      is_bot:
                        type: boolean
                        example: false
                      is_online:
                        type: boolean
                        example: true
                      is_supporter:
                        type: boolean
                        example: true
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: "message to send"
                  example: debitis
                  nullable: false
                is_action:
                  type: boolean
                  description: "whether the message is an action"
                  example: true
                  nullable: false
              required:
                - message
                - is_action
      security: []
    parameters:
      - in: path
        name: channel
        description: "The ID of the channel to retrieve messages for"
        example: 11
        required: true
        schema:
          type: integer
  "/api/v2/chat/channels/{channel}/users/{user}":
    put:
      summary: "Join Channel"
      operationId: joinChannel
      description: "This endpoint allows you to join a public or multiplayer channel.\n\n---\n\n### Response Format\n\nReturns the joined [ChatChannel](#chatchannel)."
      parameters: []
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"channel_id\": 5,\n  \"current_user_attributes\": {\n    \"can_message\": true,\n    \"can_message_error\": null\n  },\n  \"description\": \"The official osu! channel (english only).\",\n  \"icon\": \"https://a.ppy.sh/2?1519081077.png\",\n  \"last_message_id\": 1029,\n  \"moderated\": false,\n  \"name\": \"#osu\",\n  \"type\": \"public\"\n  \"users\": []\n}"
      tags:
        - Chat
      security: []
    delete:
      summary: "Leave Channel"
      operationId: leaveChannel
      description: "This endpoint allows you to leave a public channel.\n\n---\n\n### Response Format\n\n_empty response_\n\n<aside class=\"notice\">\n  This endpoint will only allow the leaving of public channels initially.\n</aside>"
      parameters: []
      responses:
        204:
          description: ""
      tags:
        - Chat
      security: []
    parameters:
      - in: path
        name: channel
        description: "The channel."
        example: aut
        required: true
        schema:
          type: string
      - in: path
        name: user
        description: "The user."
        example: fuga
        required: true
        schema:
          type: string
  "/api/v2/chat/channels/{channel}/mark-as-read/{message}":
    put:
      summary: "Mark Channel as Read"
      operationId: markChannelAsRead
      description: "This endpoint marks the channel as having being read up to the given `message_id`.\n\n---\n\n### Response Format\n\n_empty response_\n\n<aside class=\"notice\">\n  Note that the read marker cannot be moved backwards - i.e. if a channel has been marked as read up to <code>message_id = 12</code>, you cannot then set it backwards to <code>message_id = 10</code>. It will be rejected.\n</aside>"
      parameters:
        - in: query
          name: channel_id
          description: "The `channel_id` of the channel to mark as read"
          example: enim
          required: true
          schema:
            type: string
            description: "The `channel_id` of the channel to mark as read"
            example: enim
            nullable: false
        - in: query
          name: message_id
          description: "The `message_id` of the message to mark as read up to"
          example: unde
          required: true
          schema:
            type: string
            description: "The `message_id` of the message to mark as read up to"
            example: unde
            nullable: false
      responses:
        204:
          description: ""
      tags:
        - Chat
      security: []
    parameters:
      - in: path
        name: channel
        description: "The channel."
        example: accusamus
        required: true
        schema:
          type: string
      - in: path
        name: message
        description: ""
        example: doloribus
        required: true
        schema:
          type: string
  /api/v2/chat/channels:
    get:
      summary: "Get Channel List"
      operationId: getChannelList
      description: "This endpoint returns a list of all joinable public channels.\n\n---\n\n### Response Format\n\nReturns an array of [ChatChannel](#chatchannel)"
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  - channel_id: 5
                    description: "The official osu! channel (english only)."
                    icon: "https://a.ppy.sh/2?1519081077.png"
                    moderated: false
                    name: "#osu"
                    type: public
      tags:
        - Chat
      security: []
    post:
      summary: "Create Channel"
      operationId: createChannel
      description: "Creates a new PM or announcement channel.\nRejoins the PM channel if it already exists.\n\n---\n\n### Response Format\n\nReturns [ChatChannel](#chatchannel) with `recent_messages` attribute; `recent_messages` is deprecated and should not be used."
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  channel_id: 1
                  description: "best channel"
                  icon: "https://a.ppy.sh/2?1519081077.png"
                  moderated: false
                  name: "#pm_1-2"
                  type: PM
                  recent_messages:
                    - message_id: 1
                      sender_id: 1
                      channel_id: 1
                      timestamp: "2020-01-01T00:00:00+00:00"
                      content: "Happy new year"
                      is_action: false
                      sender:
                        id: 2
                        username: peppy
                        profile_colour: "#3366FF"
                        avatar_url: "https://a.ppy.sh/2?1519081077.png"
                        country_code: AU
                        is_active: true
                        is_bot: false
                        is_online: true
                        is_supporter: true
                properties:
                  channel_id:
                    type: integer
                    example: 1
                  description:
                    type: string
                    example: "best channel"
                  icon:
                    type: string
                    example: "https://a.ppy.sh/2?1519081077.png"
                  moderated:
                    type: boolean
                    example: false
                  name:
                    type: string
                    example: "#pm_1-2"
                  type:
                    type: string
                    example: PM
                  recent_messages:
                    type: array
                    example:
                      - message_id: 1
                        sender_id: 1
                        channel_id: 1
                        timestamp: "2020-01-01T00:00:00+00:00"
                        content: "Happy new year"
                        is_action: false
                        sender:
                          id: 2
                          username: peppy
                          profile_colour: "#3366FF"
                          avatar_url: "https://a.ppy.sh/2?1519081077.png"
                          country_code: AU
                          is_active: true
                          is_bot: false
                          is_online: true
                          is_supporter: true
                    items:
                      type: object
                      properties:
                        message_id:
                          type: integer
                          example: 1
                        sender_id:
                          type: integer
                          example: 1
                        channel_id:
                          type: integer
                          example: 1
                        timestamp:
                          type: string
                          example: "2020-01-01T00:00:00+00:00"
                        content:
                          type: string
                          example: "Happy new year"
                        is_action:
                          type: boolean
                          example: false
                        sender:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            username:
                              type: string
                              example: peppy
                            profile_colour:
                              type: string
                              example: "#3366FF"
                            avatar_url:
                              type: string
                              example: "https://a.ppy.sh/2?1519081077.png"
                            country_code:
                              type: string
                              example: AU
                            is_active:
                              type: boolean
                              example: true
                            is_bot:
                              type: boolean
                              example: false
                            is_online:
                              type: boolean
                              example: true
                            is_supporter:
                              type: boolean
                              example: true
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: object
                  description: "channel details; required if `type` is `ANNOUNCE`."
                  example: null
                  nullable: false
                  properties:
                    name:
                      type: string
                      description: "the channel name; required if `type` is `ANNOUNCE`."
                      example: null
                      nullable: false
                    description:
                      type: string
                      description: "the channel description; required if `type` is `ANNOUNCE`."
                      example: null
                      nullable: false
                message:
                  type: string
                  description: "message to send with the announcement; required if `type` is `ANNOUNCE`."
                  example: null
                  nullable: false
                target_id:
                  type: integer
                  description: "target user id; required if `type` is `PM`; ignored, otherwise."
                  example: 2
                  nullable: false
                target_ids:
                  type: array
                  description: "target user ids; required if `type` is `ANNOUNCE`; ignored, otherwise."
                  example: null
                  items:
                    type: integer
                type:
                  type: string
                  description: "channel type (currently only supports `PM` and `ANNOUNCE`)"
                  example: PM
                  nullable: false
              required:
                - type
      security: []
  "/api/v2/chat/channels/{channel}":
    get:
      summary: "Get Channel"
      operationId: getChannel
      description: "Gets details of a chat channel.\n\n---\n\n### Response Format\n\nField   | Type                        | Description\n------- | --------------------------- | -----------\nchannel | [ChatChannel](#chatchannel) | |\nusers   | [User](#user)               | Users are only visible for PM channels."
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  channel:
                    channel_id: 1337
                    current_user_attributes:
                      can_message: true
                      can_message_error: null
                    name: "test channel"
                    description: wheeeee
                    icon: /images/layout/avatar-guest@2x.png
                    type: PM
                    last_message_id: 9150005005
                    moderated: false
                    users:
                      - 2
                      - 102
                  users:
                    - id: 2
                      username: peppy
                      profile_colour: "#3366FF"
                      avatar_url: "https://a.ppy.sh/2?1519081077.png"
                      country_code: AU
                      is_active: true
                      is_bot: false
                      is_deleted: false
                      is_online: true
                      is_supporter: true
                    - id: 102
                      username: lambchop
                      profile_colour: "#3366FF"
                      icon: /images/layout/avatar-guest@2x.png
                      country_code: NZ
                      is_active: true
                      is_bot: false
                      is_deleted: false
                      is_online: false
                      is_supporter: false
                properties:
                  channel:
                    type: object
                    properties:
                      channel_id:
                        type: integer
                        example: 1337
                      current_user_attributes:
                        type: object
                        properties:
                          can_message:
                            type: boolean
                            example: true
                          can_message_error:
                            type: string
                            example: null
                      name:
                        type: string
                        example: "test channel"
                      description:
                        type: string
                        example: wheeeee
                      icon:
                        type: string
                        example: /images/layout/avatar-guest@2x.png
                      type:
                        type: string
                        example: PM
                      last_message_id:
                        type: integer
                        example: 9150005005
                      moderated:
                        type: boolean
                        example: false
                      users:
                        type: array
                        example:
                          - 2
                          - 102
                        items:
                          type: integer
                  users:
                    type: array
                    example:
                      - id: 2
                        username: peppy
                        profile_colour: "#3366FF"
                        avatar_url: "https://a.ppy.sh/2?1519081077.png"
                        country_code: AU
                        is_active: true
                        is_bot: false
                        is_deleted: false
                        is_online: true
                        is_supporter: true
                      - id: 102
                        username: lambchop
                        profile_colour: "#3366FF"
                        icon: /images/layout/avatar-guest@2x.png
                        country_code: NZ
                        is_active: true
                        is_bot: false
                        is_deleted: false
                        is_online: false
                        is_supporter: false
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        username:
                          type: string
                          example: peppy
                        profile_colour:
                          type: string
                          example: "#3366FF"
                        avatar_url:
                          type: string
                          example: "https://a.ppy.sh/2?1519081077.png"
                        country_code:
                          type: string
                          example: AU
                        is_active:
                          type: boolean
                          example: true
                        is_bot:
                          type: boolean
                          example: false
                        is_deleted:
                          type: boolean
                          example: false
                        is_online:
                          type: boolean
                          example: true
                        is_supporter:
                          type: boolean
                          example: true
      tags:
        - Chat
      security: []
    parameters:
      - in: path
        name: channel
        description: "The channel."
        example: non
        required: true
        schema:
          type: string
  /api/v2/comments:
    get:
      summary: "Get Comments"
      operationId: getComments
      description: "Returns a list comments and their replies up to 2 levels deep.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle).\n\n`pinned_comments` is only included when `commentable_type` and `commentable_id` are specified."
      parameters:
        - in: query
          name: after
          description: "Return comments which come after the specified comment id as per sort option."
          example: null
          required: false
          schema:
            type: string
            description: "Return comments which come after the specified comment id as per sort option."
            example: null
            nullable: false
        - in: query
          name: commentable_type
          description: "The type of resource to get comments for."
          example: beatmapset
          required: false
          schema:
            type: string
            description: "The type of resource to get comments for."
            example: beatmapset
            nullable: false
        - in: query
          name: commentable_id
          description: "The id of the resource to get comments for."
          example: "1"
          required: false
          schema:
            type: string
            description: "The id of the resource to get comments for."
            example: "1"
            nullable: false
        - in: query
          name: cursor
          description: "Pagination option. See [CommentSort](#commentsort) for detail. The format follows [Cursor](#cursor) except it's not currently included in the response."
          example: null
          required: false
          schema:
            type: string
            description: "Pagination option. See [CommentSort](#commentsort) for detail. The format follows [Cursor](#cursor) except it's not currently included in the response."
            example: null
            nullable: false
        - in: query
          name: parent_id
          description: "Limit to comments which are reply to the specified id. Specify 0 to get top level comments."
          example: "1"
          required: false
          schema:
            type: string
            description: "Limit to comments which are reply to the specified id. Specify 0 to get top level comments."
            example: "1"
            nullable: false
        - in: query
          name: sort
          description: "Sort option as defined in [CommentSort](#commentsort). Defaults to `new` for guests and user-specified default when authenticated."
          example: new
          required: false
          schema:
            type: string
            description: "Sort option as defined in [CommentSort](#commentsort). Defaults to `new` for guests and user-specified default when authenticated."
            example: new
            nullable: false
      responses: {}
      tags:
        - Comments
      security: []
    post:
      summary: "Post a new comment"
      operationId: postANewComment
      description: "Posts a new comment to a comment thread.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters:
        - in: query
          name: comment.commentable_id
          description: "Resource ID the comment thread is attached to"
          example: porro
          required: false
          schema:
            type: string
            description: "Resource ID the comment thread is attached to"
            example: porro
            nullable: false
        - in: query
          name: comment.commentable_type
          description: "Resource type the comment thread is attached to"
          example: provident
          required: false
          schema:
            type: string
            description: "Resource type the comment thread is attached to"
            example: provident
            nullable: false
        - in: query
          name: comment.message
          description: "Text of the comment"
          example: ea
          required: false
          schema:
            type: string
            description: "Text of the comment"
            example: ea
            nullable: false
        - in: query
          name: comment.parent_id
          description: "The id of the comment to reply to, null if not a reply"
          example: provident
          required: false
          schema:
            type: string
            description: "The id of the comment to reply to, null if not a reply"
            example: provident
            nullable: false
      responses: {}
      tags:
        - Comments
      security: []
  "/api/v2/comments/{comment}":
    get:
      summary: "Get a Comment"
      operationId: getAComment
      description: "Gets a comment and its replies up to 2 levels deep.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters: []
      responses: {}
      tags:
        - Comments
      security: []
    put:
      summary: "Edit Comment"
      operationId: editComment
      description: "Edit an existing comment.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters:
        - in: query
          name: comment.message
          description: "New text of the comment"
          example: in
          required: false
          schema:
            type: string
            description: "New text of the comment"
            example: in
            nullable: false
      responses: {}
      tags:
        - Comments
      security: []
    delete:
      summary: "Delete Comment"
      operationId: deleteComment
      description: "Deletes the specified comment.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters: []
      responses: {}
      tags:
        - Comments
      security: []
    parameters:
      - in: path
        name: comment
        description: "The comment."
        example: et
        required: true
        schema:
          type: string
  "/api/v2/comments/{comment}/vote":
    post:
      summary: "Add Comment vote"
      operationId: addCommentVote
      description: "Upvotes a comment.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters: []
      responses: {}
      tags:
        - Comments
      security: []
    delete:
      summary: "Remove Comment vote"
      operationId: removeCommentVote
      description: "Un-upvotes a comment.\n\n---\n\n### Response Format\n\nReturns [CommentBundle](#commentbundle)"
      parameters: []
      responses: {}
      tags:
        - Comments
      security: []
    parameters:
      - in: path
        name: comment
        description: "The comment."
        example: quo
        required: true
        schema:
          type: string
  /api/v2/events:
    get:
      summary: "Get Events"
      operationId: getEvents
      description: "Returns a collection of [Event](#event)s in order of creation time.\n\n---\n\n### Response Format\n\nField         | Type\n------------- | ----\ncursor_string | [CursorString](#cursorstring)\nevents        | [Event](#event)[]"
      parameters:
        - in: query
          name: sort
          description: "Sorting option. Valid values are `id_desc` (default) and `id_asc`."
          example: null
          required: false
          schema:
            type: string
            description: "Sorting option. Valid values are `id_desc` (default) and `id_asc`."
            example: null
            nullable: false
        - in: query
          name: cursor_string
          description: "[CursorString](#cursorstring) for pagination."
          example: null
          required: false
          schema:
            type: string
            description: "[CursorString](#cursorstring) for pagination."
            example: null
            nullable: false
      responses:
        200:
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  events: [\n    {\n      created_at: \"2022-12-08T02:02:51+00:00\",\n      id: 57,\n      type: \"achievement\",\n      achievement: { ... },\n      user: { ... }\n    },\n    ...\n  ],\n  cursor_string: \"eyJldmVudF9pZCI6OH0\"\n}"
      tags:
        - Events
      security: []
  "/api/v2/forums/topics/{topic}/lock":
    post:
      summary: "Lock Topic"
      operationId: lockTopic
      description: "Locks a Topic\n\n---\n\n### Response Format\n\n_empty response_"
      parameters:
        - in: query
          name: lock
          description: ""
          example: false
          required: true
          schema:
            type: boolean
            description: ""
            example: false
            nullable: false
      responses:
        204:
          description: ""
      tags:
        - Forum
      security: []
    parameters:
      - in: path
        name: topic
        description: "Topic id."
        example: 17
        required: true
        schema:
          type: integer
  "/api/v2/forums/topics/{topic}/move":
    post:
      summary: ""
      operationId: postApiV2ForumsTopicsTopicMove
      description: ""
      parameters: []
      responses: {}
      tags:
        - Forum
      security: []
    parameters:
      - in: path
        name: topic
        description: "The topic."
        example: qui
        required: true
        schema:
          type: string
  "/api/v2/forums/topics/{topic}/pin":
    post:
      summary: "Pin Topic"
      operationId: pinTopic
      description: "Pins a Topic\n\n---\n\n### Response Format\n\n_empty response_"
      parameters:
        - in: query
          name: pin
          description: "Type of pin, 0 to unpin, 1 for sticky, 2 for announcement."
          example: 1
          required: true
          schema:
            type: integer
            description: "Type of pin, 0 to unpin, 1 for sticky, 2 for announcement."
            example: 1
            nullable: false
      responses:
        204:
          description: ""
      tags:
        - Forum
      security: []
    parameters:
      - in: path
        name: topic
        description: "Topic id."
        example: 9
        required: true
        schema:
          type: integer
  "/api/v2/forums/topics/{topic}/reply":
    post:
      summary: "Reply Topic"
      operationId: replyTopic
      description: "Create a post replying to the specified topic.\n\n---\n\n### Response Format\n\n[ForumPost](#forum-post) with `body` included."
      parameters: []
      responses: {}
      tags:
        - Forum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: "Content of the reply post."
                  example: hello
                  nullable: false
              required:
                - body
      security: []
    parameters:
      - in: path
        name: topic
        description: "Id of the topic to be replied to."
        example: 1
        required: true
        schema:
          type: integer
  /api/v2/forums/topics:
    get:
      summary: "Get Topic Listing"
      operationId: getTopicListing
      description: "Get a sorted list of topics, optionally from a specific forum\n\n---\n\n### Response Format\n\nField         | Type                          | Notes\n------------- | ----------------------------- | -----\ntopics        | [ForumTopic](#forum-topic)[]  | |\ncursor_string | [CursorString](#cursorstring) | |"
      parameters:
        - in: query
          name: forum_id
          description: "Id of a specific forum to get topics from."
          example: null
          required: false
          schema:
            type: string
            description: "Id of a specific forum to get topics from."
            example: null
            nullable: false
        - in: query
          name: sort
          description: "Topic sorting option. Valid values are `new` (default) and `old`. Both sort by the topic's last post time."
          example: null
          required: false
          schema:
            type: string
            description: "Topic sorting option. Valid values are `new` (default) and `old`. Both sort by the topic's last post time."
            example: null
            nullable: false
        - in: query
          name: limit
          description: "Maximum number of topics to be returned (50 at most and by default)."
          example: null
          required: false
          schema:
            type: integer
            description: "Maximum number of topics to be returned (50 at most and by default)."
            example: null
            nullable: false
        - in: query
          name: cursor_string
          description: "[CursorString](#cursorstring) for pagination."
          example: null
          required: false
          schema:
            type: string
            description: "[CursorString](#cursorstring) for pagination."
            example: null
            nullable: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  topics:
                    - id: 1
                      ...: ...
                    - id: 2
                      ...: ...
                  cursor_string: eyJoZWxsbyI6IndvcmxkIn0
                properties:
                  topics:
                    type: array
                    example:
                      - id: 1
                        ...: ...
                      - id: 2
                        ...: ...
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        ...:
                          type: string
                          example: ...
                  cursor_string:
                    type: string
                    example: eyJoZWxsbyI6IndvcmxkIn0
      tags:
        - Forum
      security: []
    post:
      summary: "Create Topic"
      operationId: createTopic
      description: "Create a new topic.\n\n---\n\n### Response Format\n\nField  | Type                       | Includes\n------ | -------------------------- | --------\ntopic  | [ForumTopic](#forum-topic) | |\npost   | [ForumPost](#forum-post)   | body"
      parameters: []
      responses: {}
      tags:
        - Forum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: "Content of the topic."
                  example: hello
                  nullable: false
                forum_id:
                  type: integer
                  description: "Forum to create the topic in."
                  example: 1
                  nullable: false
                title:
                  type: string
                  description: "Title of the topic."
                  example: untitled
                  nullable: false
                with_poll:
                  type: boolean
                  description: "Enable this to also create poll in the topic (default: false)."
                  example: true
                  nullable: false
                "forum_topic_poll[hide_results]":
                  type: boolean
                  description: "Enable this to hide result until voting period ends (default: false)."
                  example: null
                  nullable: false
                "forum_topic_poll[length_days]":
                  type: integer
                  description: "Number of days for voting period. 0 means the voting will never ends (default: 0). This parameter is required if `hide_results` option is enabled."
                  example: null
                  nullable: false
                "forum_topic_poll[max_options]":
                  type: integer
                  description: "Maximum number of votes each user can cast (default: 1)."
                  example: null
                  nullable: false
                "forum_topic_poll[options]":
                  type: string
                  description: "Newline-separated list of voting options. BBCode is supported."
                  example: "item A..."
                  nullable: false
                "forum_topic_poll[title]":
                  type: string
                  description: "Title of the poll."
                  example: "my poll"
                  nullable: false
[...]
